In [1]:
# import required libraries
import pandas as pd
import numpy as np
import xlsxwriter
import glob
from skimage import io
import math
import openpyxl

## Normal Dataset

In [2]:
# create a workbook and worksheet
workbook = xlsxwriter.Workbook('normal.xlsx')
worksheet = workbook.add_worksheet()

# write headers
worksheet.write('A1', 'Red_Mean')
worksheet.write('B1', 'Red_Median')
worksheet.write('C1', 'Red_Var')
worksheet.write('D1', 'Red_Std')
worksheet.write('E1', 'Green_Mean')
worksheet.write('F1', 'Green_Median')
worksheet.write('G1', 'Green_Var')
worksheet.write('H1', 'Green_Std')
worksheet.write('I1', 'Blue_Mean')
worksheet.write('J1', 'Blue_Median')
worksheet.write('K1', 'Blue_Var')
worksheet.write('L1', 'Blue_Std')

workbook.close()

In [3]:
# Declare a list
normal_list = []

# use for loop to read all the normal images
for i in glob.glob(r'C:\Users\Arfan Shah\Downloads\gwbz3fsgp8-2\Normal Person ECG Images (284x12=3408)\*.*'):
    image = io.imread(i)

    # convert image into array
    image_array = np.asarray(image)

    # append array into list
    normal_list.append(image_array)

len(normal_list)

284

In [4]:
# now iterate through the list and extract features from each image array
for normal_image in normal_list:

    # read separate image
    normal_image = normal_image

    # split array into three channels
    red = normal_image[ : , : , 0]
    green = normal_image[ : , : , 1]
    blue = normal_image[ :, : , 2]

    # extract features for red channel
    Red_Mean = np.mean(red)
    Red_Median = np.median(red)
    Red_Var = np.var(red)
    Red_Std = math.sqrt(Red_Var)

    # extract features from green channel
    Green_Mean = np.mean(green)
    Green_Median = np.median(green)
    Green_Var = np.var(green)
    Green_Std = math.sqrt(Green_Var)

    # extract features for blue channel
    Blue_Mean = np.mean(blue)
    Blue_Median = np.median(blue)
    Blue_Var = np.var(blue)
    Blue_Std = math.sqrt(Blue_Var)

    # now make a list for all these extracted features
    list = [Red_Mean, Red_Median, Red_Var, Red_Std, Green_Mean, Green_Median, Green_Var, Green_Std, Blue_Mean, Blue_Median, Blue_Var, Blue_Std]

    # # now make an array
    # list_array = np.asarray(list)
    # load newly created excel file
    outworkbook = openpyxl.load_workbook('normal.xlsx')

    # activate newly created worksheet
    outworksheet = outworkbook.active

    # append data into newly created excel sheet
    outworksheet.append(list)

    # save excel file
    outworkbook.save(filename = 'normal.xlsx')

In [16]:
# load and read normal dataset
normal_dataset = pd.read_excel('normal.xlsx')
normal_dataset.head()

,Red_Mean,Red_Median,Red_Var,Red_Std,Green_Mean,Green_Median,Green_Var,Green_Std,Blue_Mean,Blue_Median,Blue_Var,Blue_Std
0,242.876715,255,2058.199756,45.367386,240.556344,254,2142.949976,46.292008,240.261459,253,2131.885453,46.172345
1,243.329171,255,1951.999382,44.181437,241.004769,254,2038.851302,45.153641,240.695569,253,2028.541139,45.039329
2,243.519709,255,1910.449285,43.708687,241.187809,254,1998.008289,44.699086,240.888277,253,1987.074427,44.576613
3,243.675030,255,1873.956056,43.289214,241.341868,254,1962.212442,44.296867,241.039814,253,1951.687452,44.177907
4,243.749229,255,1857.838292,43.102648,241.415836,254,1946.128709,44.114949,241.109070,253,1935.735173,43.996990

In [17]:
# add a column and assign 0 to it
normal_dataset['Label'] = 0
normal_dataset.head()

,Red_Mean,Red_Median,Red_Var,Red_Std,Green_Mean,Green_Median,Green_Var,Green_Std,Blue_Mean,Blue_Median,Blue_Var,Blue_Std,Label
0,242.876715,255,2058.199756,45.367386,240.556344,254,2142.949976,46.292008,240.261459,253,2131.885453,46.172345,0
1,243.329171,255,1951.999382,44.181437,241.004769,254,2038.851302,45.153641,240.695569,253,2028.541139,45.039329,0
2,243.519709,255,1910.449285,43.708687,241.187809,254,1998.008289,44.699086,240.888277,253,1987.074427,44.576613,0
3,243.675030,255,1873.956056,43.289214,241.341868,254,1962.212442,44.296867,241.039814,253,1951.687452,44.177907,0
4,243.749229,255,1857.838292,43.102648,241.415836,254,1946.128709,44.114949,241.109070,253,1935.735173,43.996990,0

In [19]:
# save excel file
normal_dataset.to_excel('normal_dataset.xlsx', index = False)

## Abnormal Heart Beat

In [13]:
# create an excel file for features of MI
workbook1 = xlsxwriter.Workbook('abnormal.xlsx')
worksheet1 = workbook1.add_worksheet()

# write headers into sheet
worksheet1.write('A1', 'Red_Mean')
worksheet1.write('B1', 'Red_Median')
worksheet1.write('C1', 'Red_Var')
worksheet1.write('D1', 'Red_Std')
worksheet1.write('E1', 'Green_Mean')
worksheet1.write('F1', 'Green_Median')
worksheet1.write('G1', 'Green_Var')
worksheet1.write('H1', 'Green_Std')
worksheet1.write('I1', 'Blue_Mean')
worksheet1.write('J1', 'Blue_Median')
worksheet1.write('K1', 'Blue_Var')
worksheet1.write('L1', 'Blue_Std')
workbook1.close()

In [14]:
# now read MI disease images and make a list

# declare an empty list
mi_list = []

# for loop to load and read images
for x in glob.glob(r'C:\Users\Arfan Shah\Downloads\gwbz3fsgp8-2\ECG Images of Patient that have abnormal heartbeat (233x12=2796)\*.*'):

    # load and read image
    image = io.imread(x)

    # convert into array
    image_array = np.asarray(image)

    mi_list.append(image_array)

len(mi_list)

233

In [15]:
# loop through all images in MI and extract features
for mi_image in mi_list:

    # split image into three channels
    red = mi_image[ : , : , 0]
    green = mi_image[ : , : , 1]
    blue = mi_image[ : , : , 2]

    # extract features for red channel
    Red_Mean = np.mean(red)
    Red_Median = np.median(red)
    Red_Var = np.var(red)
    Red_Std = math.sqrt(Red_Var)

    # extract features for green channel
    Green_Mean = np.mean(green)
    Green_Median = np.median(green)
    Green_Var = np.var(green)
    Green_Std = math.sqrt(Green_Var)

    # Extract features from blue channel
    Blue_Mean = np.mean(blue)
    Blue_Median = np.median(blue)
    Blue_Var = np.var(blue)
    Blue_Std = math.sqrt(Blue_Var)

    # make a list and store all the extracted features
    list = [Red_Mean, Red_Median, Red_Var, Red_Std, Green_Mean, Green_Median, Green_Var, Green_Std, Blue_Mean, Blue_Median, Blue_Var, Blue_Std]

    # now load newly created excel file
    outworkbook1 = openpyxl.load_workbook('abnormal.xlsx')

    # activate excel sheet
    outworksheet1 = outworkbook1.active

    # now append values into worksheet
    outworksheet1.append(list)

    # save workbook
    outworkbook1.save(filename = 'abnormal.xlsx')